.local-weather-display-main {
  margin: 10px;
  padding: 10px;

  max-width: 50%;
  min-width: 20%;
  padding-bottom: 50px;

  position: relative;

  border: 1px solid #000;
  border-radius: 5px;
}

.local-weather-icon {
  margin: 10px;
  margin: auto;

  width: 60px;
}

.weather-listing {
  margin: 20px;
}

.listing-el {
  margin: 20px;
}

.weather-buttons {
  position: absolute;
  bottom: 0;
}
