
.weather-page-main{
    width: 100vw;
    height: 100vh;

    background-image: url(/public/img/clouds.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-titles{
    margin: 20px;
    text-align: center;
    color: #fff;
}

.weather-info-main{
    width: 90%;
    height: 50vh;
    
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.weather-factor{
    width: 15%;
    height: 200px;

    margin: 10px;
    padding: 10px;

    background-color: #fffb;

    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page-back-btn{
    width: 10%;
    
    position: absolute;
    right: 20px;
    bottom: 20px;
}